.scrollTest1 {
    color:yellow;
    animation: Test1 infinite 4s linear;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  
  
  @keyframes Test1 {
    0% { transform:  translateX(100vw); opacity: 0;}
    5% {opacity: 0%;}
    15% {opacity: 100%;}
    55%{opacity: 0%}
    100% { transform:  translateX(-200vw); opacity: 0;}
  }
  
  @keyframes Test2 {
    0% { transform:  translateX(120vw); }
    100% { transform:  translateX(-200%); }
  }